extends ../exclude/layout


block continue_head
  -var pageTitle = 'Donate and help a child have a meaninful music education'
  -var title = `${pageTitle} - ${company}`

  meta(property='og:description' content=title)
  meta(name='description' content=title)
  meta(name='author' content='')
  meta(property='og:title' content=`${company} - ${pageTitle}`)
  meta(property='og:url' content=domain)
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  //- meta(property='og:image' content=`https://${domain}/public/img/M-logo.png`)
  title=title



block content
  
  include ../exclude/svgBg.pug

  section.d-flex.align-items-center.text-center
    .container
      .row.d-flex.justify-content-around.text-center
        .col-md-6.col-sm-12
          script(src='https://donorbox.org/widget.js' paypalexpress='false')
          iframe(src='https://donorbox.org/embed/let-s-give-anyone-a-chance-to-learn-music?default_interval=m&amount=30&show_content=true' name='donorbox' allowpaymentrequest='allowpaymentrequest' seamless='seamless' frameborder='0' scrolling='no' height='900px' width='100%' style='max-width: 100%; min-width: 100%; max-height:none!important')
        .col-md-6.col-sm-12
          h1 Help a child have a meaningful music education






  //- section#content
    .container
    
      .row.justify-content-center 
                      
        .col-lg-5.text-center.mb-3
          //- .card
          //-   .card-body
          //-     h5.card-title Every Donation Gives Someone A Chance To Learn Music!
          //-     h6.card-subtitle.mb-2.text-muted 
          script(src='https://donorbox.org/widget.js' paypalexpress='false')
          iframe(src='https://donorbox.org/embed/let-s-give-anyone-a-chance-to-learn-music?default_interval=m&amount=30&show_content=true' name='donorbox' allowpaymentrequest='allowpaymentrequest' seamless='seamless' frameborder='0' scrolling='no' height='900px' width='100%' style='max-width: 100%; min-width: 100%; max-height:none!important')


block continue_scripts
  script(src='js/scripts.js')
