extends ../exclude/layout


block continue_head
  -var pageTitle = 'Frequently Asked Questions'
  -var title = `${pageTitle} - ${company}`

  meta(property='og:description' content=title)
  meta(name='description' content=title)
  meta(name='author' content='')
  meta(property='og:title' content=`${company} - ${pageTitle}`)
  meta(property='og:url' content=domain)
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  //- meta(property='og:image' content=`https://${domain}/public/img/M-logo.png`)
  title=title

  -
    var faq =
    [
      {
        q: `Who are we? What do we do?`,
        a: `MusicMi is a nonprofit 501(c)(3) program that provides music scholarships to students 5-18.`
      },
      { 
      q: `Can I use the scholarship for anything?`,
      a: `A scholarship provided by MusicMi can be used to learn any instrument and music theory at MusicSOL.` 
      }, 

      { 
        q: `What is MusicSOL?`,
        a: `MusicSOL is an online music learning program for all ages. MusicSOL students not only receive lessons on their instrument/s of choice, but also receive dedicated instructions in music theory.` 
      }, 


      { 
        q: `Who qualifies for a scholarship?`,
        a: `To qualify for a MusicMi scholarship, you must be a dedicated student interested in learning music. You can find the <a href='${urls.signup}' target='_new'>application here.</a>` 
      }, 


      { 
        q: `What instruments can I learn?`,
        a: `Piano, violin, viola, cello, bass, guitar, drums, conga, saxophone, trumpet, voice, trombone, electric guitar, banjo, clarinet, composition, music theory, flute, mandoline, latin percussion, ukulele, and more!` 
      }, 


      { 
        q: `What is music theory?`,
        a: `Music theory is the study of the principles of music and music composition. It helps musicians gain knowledge to understand scales, harmony, melody, and rhythm patterns in music. Music theory is a way for composers to better understand the various elements in music and why they are important.` 
      }, 


      { 
        q: `What days are lessons offered?`,
        a: `Any day you want! All lessons are one on one and hosted online, meaning you can fit your lesson in whenever it fits your schedule! Between soccer and art, or after school, whatever works best for you! ` 
      }, 


      { 
        q: `Where is the studio?`,
        a: `Wherever you are! All lessons take place online. This makes it easy to fit them into your busy schedule, saves time driving around town, and gives you the freedom to continue learning through car trouble, moving to a new town, or even when you go on vacation.` 
      }, 


      { 
        q: `What do I need to start learning?`,
        a: `All you need is a computer, your instrument of choice, and a passion for music and learning!` 
      }, 


      { 
        q: `What makes us unique?`,
        a: `MusicMi is truly unique! MusicMi is the only program that provides music lessons for affordable rates and/or completely no fee based on your financial and/or drive to learn music. MusicMi boasts in many aspects including offering music theory lessons, we lay the necessary musical and harmonic groundwork to build well-rounded musicians. Students develop skills like functional use of harmony and strings-specific rhythmic techniques. These create “eureka moments” that inspire and enrich students’ understanding beyond the written page – and result in an unusually keen grasp of all musical genres (e.g., jazz, folk, pop, etc.), in addition to classical.` 
      }, 


      { 
        q: `How can I apply?`,
        a: `To apply, <a target='_new' href=${signupURL}>fill out this form</a>, and we will get back to you within 2-3 business days.` 
      }, 

      { 
        q: `How can I donate?`,
        a: `Thank you for your kindness, every donation helps support a young musician. To make a tax deductible donation please use this form. If you want to donate instruments please email us with pictures of the instrument at donations@musicmi.org.` 
      }, 


      { 
        q: `How can I get involved?`,
        a: `If you are interested in teaching, you can <a target='_new' href='${urls.teacherSignup}'apply here</a>.
              To donate click <a target='_new' href='${urls.donate}'>here</a>.
              To work/volunteer with us, email your resume to info@musicmi.org` 
      }
    ]
  

  
block content
      
  include ../exclude/svgBg.pug

  section.d-flex.align-items-center
    .container(style='min-height: calc(100vmax + 10vmax); padding-bottom: 50px; ')
      .row.d-flex.justify-content-around.text-center
        .col-md-6
          h1 FAQ
          h2 (Frequently Asked Questions)
      .row.d-flex.justify-content-around.mt-5
        .col-md-10
          #accordionExample.accordion
            each line, idx in faq
              .card
                #headingOne.card-header
                  h5
                    button.btn.btn-link.btn-block.text-left(type='button' data-toggle='collapse' data-target=`#q${idx}` aria-expanded='false' aria-controls=`#q${idx}`)
                      | #{line.q}
                .collapse(id=`q${idx}` aria-labelledby='headingOne' data-parent='#accordionExample')
                  .card-body!=line.a

  //- section#content
    .container
    
      .row.justify-content-center 
                      
        .col-lg-5.text-center.mb-3
          //- .card
          //-   .card-body
          //-     h5.card-title Every Donation Gives Someone A Chance To Learn Music!
          //-     h6.card-subtitle.mb-2.text-muted 
          script(src='https://donorbox.org/widget.js' paypalexpress='false')
          iframe(src='https://donorbox.org/embed/let-s-give-anyone-a-chance-to-learn-music?default_interval=m&amount=30&show_content=true' name='donorbox' allowpaymentrequest='allowpaymentrequest' seamless='seamless' frameborder='0' scrolling='no' height='900px' width='100%' style='max-width: 100%; min-width: 100%; max-height:none!important')


block continue_scripts
  script(src='js/scripts.js')
  style.
    .card{
      background-color: initial;
      border: none;
      /*border-radius: 1.25rem;*/
      
    }
    .card-header{
      border-bottom: initial;
      box-shadow: 1px 1px 5px 1px lightgrey;
    }
    button:hover, button:active, button:focus{
      text-decoration: none !important;
    }
