extends ../exclude/layout


block continue_head
  //- VARIABLES
  //- -var signupURL = 'https://musicsol.teachworks.com/form/musicmi-sign-up-form'
  -var desc = `WE ARE NOT JUST ANOTHER IMMIGRATION LAW FIRM, WE ARE YOUR FRIEND! We pride ourselves at being the best at what we do because we truly care about you, and your unique circumstance. You are not just another case for us, you are a FRIEND who needs our help, and we will do, what a good friend does,`

  meta(property='og:description' content=desc)
  meta(itemprop='description' content=desc)
  meta(name='description' content=desc)
  //- meta(name='author' content='')
  meta(property='og:title' content='SBI LAW PLLC')
  meta(property='og:url' content='https://www.sbilaw.co/')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  //- meta(property="og:image" content="https://musicsol.net/public/img/musicmi-logo.svg")
  title SBI LAW PLLC

    

block content
  section#home
    .container-fluid.h-100.d-flex.align-items-center.justify-content-center
      .row
        .col-lg-12.text-center(style='padding:0;')
          #header
            h1
              img#logo(src='./img/sbilaw-logo2.svg', alt='SBI LAW logo')
            h2.mt-3 Immigration, Business, Pro Bono
    .gradient-overlay
    #vid-container
      video(autoplay muted loop playsinline preload='metadata')
        source(src='https://telegra.ph/file/6cf90f27567851f059300.mp4' type='video/mp4')
        //- source(src='./assets/vids/bwguitar.webm' type='video/webm')
        //- source(src='./assets/vids/bwguitar.ogv' type='video/ogg')
        |   Your browser does not support HTML5 video.
    .custom-shape-divider-bottom-1656694651
      svg(data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 1200 120' preserveaspectratio='none')
        path.shape-fill(d='M1200 120L0 16.48 0 0 1200 0 1200 120z')

    //- .custom-shape-divider-bottom-1656685633
      svg(data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 1200 120' preserveaspectratio='none')
        path.shape-fill(d='M1200 0L0 0 598.97 114.72 1200 0z')

  // About
  section#about.about-section
    .container
      .row.justify-content-center
        .col-lg-12.col-sm-10.col-12.mb-5
          .content-box.mt-5.p-5
            .custom-shape-divider-bottom-1656694651-above
              svg(data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 1200 120' preserveaspectratio='none')
                path.shape-fill(d='M1200 120L0 16.48 0 0 1200 0 1200 120z')          
            h3.b.pb-4 WE ARE NOT JUST ANOTHER IMMIGRATION LAW FIRM, WE ARE YOUR FRIEND! 
        
            p.mb-5 We pride ourselves at being the best at what we do because we truly care about you, and your unique circumstance. You are not just another case for us, you are a FRIEND who needs our help, and we will do, what a good friend does, everything in our power to help you.

            p.b Are we the right friend you are looking for? 
              span(style='font-weight:initial;') Well, we can be your friend no matter what : ) 
            
            p But we mostly help FRIENDS with immigration matters such as: 
            ul
              li Family Based 
              li Business 
              li Visa (All Kinds)
              li DACA
              li Citizenship
              li Asylum
              li Removal

            p If your question is not on the above list, feel free to still ask your question here

    .custom-shape-divider-bottom-1656694651
      svg(data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 1200 120' preserveaspectratio='none')
        path.shape-fill(d='M1200 120L0 16.48 0 0 1200 0 1200 120z')



       
  section#friend
    .container.mt-5.mb-5
      .row.justify-content-lg-center.justify-content-sm-start.justify-content-center
        .col-lg-6.col-sm-7.col-10.mb-5
          p.mb-2
            h2.b FRIEND -
            blockquote “Friendship is a word of broad and varied application. It is commonly used to describe the undefinable relationships which exist not only between those connected by ties of kinship or marriage, but as well between strangers in blood, and which vary in degree from the greatest intimacy to an acquaintance more or less casual”.
            cite [Clark v. Campbell, 82 N.H. 281, 286 (N.H. 1926)]
        .col-lg-6.col-sm-5.col-10.offset-sm-7.offset-lg-0.offset-0
            h2.b F
              small oreign national
            h2.b R
              small oreign national
            h2.b I
              small mmigration
            h2.b E
              small xpert's assistances
            h2.b N
              small avigating
            h2.b D
              small OS, DHS, and USCIS
              
        
          

        



  //- hr(style='margin: 0; background-color: var(--primary);')
  section#contact.contact-section.bg-black
    .container-fluid
      .row
        .col.text-center
          h2.text-white.mb-5 CONTACT

      .row.justify-content-around
        .col-lg-5.col-md-6.mb-3.mb-md-0
          iframe(sandbox='allow-scripts allow-popups allow-forms allow-same-origin allow-popups-to-escape-sandbox allow-downloads allow-modals' frameborder='0' aria-label='Map' src='https://maps-api-ssl.google.com/maps?hl=en-US&ll=25.905382,-80.142275&output=embed&z=11' allowfullscreen='')
                  

        .col-lg-5.col-md-6.mb-3.mb-md-0
          .card.py-4.h-100
            .card-body
              .row.p-2
                .col-5
                  h4 Phone: 
                .col-7
                  h4
                    small
                      a(href=`tel:${texts.tel}`)=texts.tel
              .row.p-2
                .col-5
                  h4 Email: 
                .col-7
                  h4
                    small
                      a(href='mailto:info@sbilaw.co') info@sbilaw.co
              .row.p-2
                .col-5
                  h4 Telegram: 
                .col-7
                  h4
                    small
                      s
                        a(href='tg://resolve?domain=immigrationlawusa') @immigrationlawusa
              .row.p-2
                .col-5
                  h4 Instagram: 
                .col-7
                  h4
                    small
                      a(href='https://instagram.com/immigrationlawusa') @immigrationlawusa
    .custom-shape-divider-top-1656706087
      svg(data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 1200 120' preserveaspectratio='none')
        path.shape-fill(d='M649.97 0L599.91 54.12 550.03 0 0 0 0 120 1200 120 1200 0 649.97 0z')








        

  #ty-modal.modal(tabindex='-1')
    .modal-dialog
      .modal-content
        .modal-header
          h5.modal-title Thank you!
          button.close(type='button' data-dismiss='modal' aria-label='Close')
            span(aria-hidden='true') &times;
        .modal-body.text-center
          p#student-signup-ty-body(hidden='')
            | Thank you for signing up.
            br
            | We will contact you shortly &#x1F3B6;&#x1F60A;&#x1F3B6;
          p#instructor-signup-ty-body(hidden='')
            | Thank you for registering.
            br
            | We will review your application and get back to you shortly &#x1F3B6;&#x1F60A;&#x1F3B6;

  //- Footer
block continue_scripts
  //- link(href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css' rel='stylesheet')
  script(src='./js/scripts.js')
